.post_tags{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
    font-weight: bold;
}

.post_container{
    margin-bottom: 20px;
    
}

hr{
    margin-top: 10px;
}

.post_container p{
    margin-left: 20px;
}

.post_container img{
    max-width:700px;
}

.btn_post_container{
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #363027;
    border: 2px solid #363027;
    padding:0 10px;
    margin-left: 20px;
    
}

.btn_post_container:hover{
    background-color: #597CA8;
    color: #ffffff;
    border: 2px solid #363027;
}

.user_post{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.user_post h1{
    font-size: 1.5em;
    font-weight: bold;
}

.user_details{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user{
    font-weight: bold;
}


@media (max-width: 700px){
    .post_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post_container img{
        width:400px;
    }
    .user_post{
        display: flex;
        flex-direction: column;
    }
   .user_details{
    display: flex;
    gap: 5px;
    margin: 5px 0px;
   }

}