.about_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.about_card{
    background-color:#D49AF5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 250px;
    min-height: 250px;
    gap: 15px;
    padding: 0px 10px;
    border-radius: 20px;
}

.about_section span, h1{
    text-transform: uppercase;
}

.mini{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2em;
    color: rgb(0, 0, 0);
}
.blog{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5em;
    color: rgb(189, 7, 7);
}

.about_section p {
    font-size: 1.5em;
}

.about_section a{
    padding: 5px 10px;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}